@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#50e3c2;

}
section::before{
    content: '';
    position: absolute ;
    top: 0;
    left: 0;
    background: #9013fe;
    width: 50%;
    height: 100%;
}
.container{
  position: relative;
  min-width: 1110px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
/*  background:#f8e71c; */
}
.container .contactinfo{
   position: absolute;
   top: 40px;
   width:350px;
   height: calc(100% - 80px);
   background-color: #50e3c2;
   z-index:1;
   padding: 40px;
   display: flex;
   justify-content:space-between;
   flex-direction: column;
   box-shadow: 0 20px 25px rgba(0, 0,0,0.15);
}
 .container .contactinfo h3{
color: #fff;
font-size:24px;
text-transform: uppercase;
}
.container .contactinfo ul.info{
    position: relative;
  margin: 40px 0;
}
.container .contactinfo ul.info li{
    position: relative;
    list-style: none;
    margin: 40px 0;
    cursor: pointer;
    display: flex;
   align-items: flex-start;
   gap: 15px;
}
.container .contactinfo ul.info span:nth-child(1){
   width: 30px;
   min-width: 30px;
}
.container .contactinfo ul.info span:nth-child(1) img{
   max-width: 100%;

 }
.container .contactinfo ul.info span:nth-child(2){
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10px;
} 
.container .contactinfo ul.social{
    display: flex;
    list-style: none;
    margin-bottom: 20px;
    position: relative;

}
.container .contactinfo ul.social img{
    width: 50%;
    transition: all 0.5s ease;
}
.container .contactinfo ul.social img:hover{
    transform: scale(1.3);
}

.container .contactform{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0,0,0.15);
}
.container .contactform h2{
  color: #9013fe;
  font-size: 24px;
  font-weight: 500;
}
.container .contactform .formbox{
  position:relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;

}
.container .contactform .formbox .inputbox{
  position: relative;
  margin-bottom: 35px; 
}
.container .contactform .formbox .inputbox.w50{
  width: 47%;
}
.container .contactform .formbox .inputbox.w100{
  width: 100%;
}
.container .contactform .formbox .inputbox input,
.container .contactform .formbox .inputbox textarea{
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color:#e667f6;
  outline: none;
  border: none;
  border-bottom: 1px solid #9013fe;

}
.container .contactform .formbox .inputbox textarea{
  height: 120px;
  
}
.container .contactform .formbox .inputbox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;

}
.container .contactform .formbox .inputbox input:focus ~ span,
.container .contactform .formbox .inputbox input:valid ~ span,
.container .contactform .formbox .inputbox textarea:focus ~ span,
.container .contactform .formbox .inputbox textarea:valid ~ span
{
 transform: translateY(-20px);
font-size: 12px;
font-weight: 400;
letter-spacing: 1px;
}
.container .contactform .formbox .inputbox input[type= "submit"]{
  position: relative;
  background: #e667f6;
  color: #fff;
  border: none;
  padding: 12px;
  max-width: 150px;
  cursor: pointer;
}
.container .contactform .formbox .inputbox input[type= "submit"]:hover{
  background: #9013fe;
}

  @media (max-width : 1200px){
      .container{
          width: 90%;
          min-width: auto;
          margin: 20px;
          box-shadow: 0 20px 50px rgba(0, 0,0,0.2);
      }
      .contactinfo{
          top: 0;
          height: 550px;
          position: relative;
          box-shadow: none;
      }
      .container .contactform{
          position: relative;
          width: calc(100% - 350px);
          padding-left: 0;
          margin-left: 0;
          padding: 40px;
          height: 550px;
          box-shadow: none;
      }

  }
  /* @media (max-width:991px) {
     section{
         background: blueviolet;
     } 
    section::before{
      display: none;
    }
    .container{
      display: flex;
      flex-direction: column-reverse;
    }
    .container .contactform
    {
      width: 100%;
      height: auto;
    }
    .container .contactinfo {
      width: 100%;
      height: auto;
      flex-direction: row;
    }
    .container .contactinfo ul.social{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
@media (max-width:600px){
  .container .contactform{
    padding:25px ;
  }
  .container .contactinfo {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
  .container .contactinfo ul.social{
    margin-top: 40px;
  }
  .container .contactform .formbox .inputbox.w50{
    width: 100%;
  }
}
 */